header {
    font-weight: var(--header-font-weight);
}

body {
    font-family: var(--font-family);
    font-weight: var(--body-font-weight);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

footer {
    font-style: var(--footer-font-style);
    width: 100%;
    text-align: center;
}

a {
    color: var(--button-color);
}

a:hover,
a:focus {
    /* no underlining when hovering over a link */
    text-decoration: none;
}

a:visited {
    /* visited link */
    color: var(--visit-color);
}

a:active {
    /* selected link */
    color: var(--visit-color);
}

a:focus {
    outline: 2px solid var(--focus-color);
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid var(--border-color);
    justify-content: space-between;
}

.page-header__item {
    flex: 0 1 auto;
    height: 100px;
}

.page-header__item:last-child {
    text-align: right;
}

.navigation-list,
.hobbies {
    list-style-type: none;
    padding: 0;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
    flex-grow: 1;
    text-align: right;
}

.navigation-list__item--active {
    text-decoration: none;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 100%;
    max-width: 800px;
}

.profile_portrait {
    flex: 0 0 auto;
    margin-right: 20px;
}

.profile section {
    flex: 1 1 auto;
}

.page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-media {
    display: flex;
    gap: 10px;
}

.grid__item {
    background-color: var(--grid-color);
}

@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }

    h1, h2, p {
        font-size: smaller;
    }
}

@media all and (min-width: 500px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin: 10px;
    }

    h1 {
        font-size: 25px;
    }
}

.button,
button {
    border: none;
    display: inline-flex;
    font-family: inherit;
    background-color: var(--button-color);
    color: var(--text-color2);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition-duration: 0.2s;
    transition-property: opacity;
    align-items: center;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}
