.box__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}
.box__wrapper .box-primary, .box__wrapper .box-primary--darker, .box__wrapper .box-primary--lighter {
  background-color: #112055;
  color: #fff;
  box-shadow: 4px 3px 19px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
}
.box__wrapper .box-primary:hover, .box__wrapper .box-primary--darker:hover, .box__wrapper .box-primary--lighter:hover {
  box-shadow: none;
}
.box__wrapper .box-primary--lighter {
  background-color: #2b50d5;
}
.box__wrapper .box-primary--darker {
  background-color: #040815;
}
.box__wrapper .box-secondary {
  background-color: #4f9d92;
  color: #000;
  box-shadow: 4px 3px 19px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
}
.box__wrapper .box-secondary:hover {
  box-shadow: none;
}